/* 
 * GENERAL
 * ******************* */

h1,
h2,
h3,
h4,
.navbar {
    font-family: 'Lato', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
    word-spacing: 8px;
}

.tab-font .nav-link {
    font-family: 'Lato', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    color: black;
}

h2 {
    color: black;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: rgb(162, 29, 29);
    width: 100px;
    content: "  ";
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    font-size: 160%;
    margin-bottom: 20px;
}

p,
label,
cite,
blockquote {
    font-size: 10pt;
    font-weight: 300;
    line-height: 24px;
}

h4 {
    font-size: 100%;
}

h5 {
    font-family: 'Dancing Script', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    word-spacing: 8px;
    text-align: end;
}

section {
    padding: 30px 0 60px 0;
}

.brd-txt-area {
    border: 1px solid lightgrey;
    width: 100%;
    border-radius: 5px;
}

/* 
    * NAVBAR
    * ******************* */

.navbar-nav {
    font-family: 'Spartan', 'Arial', sans-serif;
    font-weight: 400;
}

.btn-submit {
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 10pt;
    color: black;
}

/* 
 * ADMIN
 * ******************* */

.bg-grey {
    background-color: grey;
}

.admin-hp img {
    max-width: 100%;
    max-height: auto;
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
}

.admin-bio {
    padding: 20px 20px;
    margin-left: 60px;
    height: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-size: 13pt;
}

.admin-bio h3 {
    font-size: 140%
}

.admin-bio h3 span {
    font-weight: 300;
    font-size: 180%;
}

.admin-bio h4 span {
    color: rgb(21, 184, 21);
    font-weight: bold;
}




.admin-mininav {
    background-color: lightgrey;
    padding-top: 5em;
}

.gst-icons i:hover {
    color: rgb(94, 94, 94);
}

.btn-gestion {
    border: 0;
    background-color: rgb(231, 227, 227);
    color: black;
}

/** User **/

.admin-user {
    background-color: rgb(172, 172, 172);
}

.admin-user .btn-gestion {
    background-color: rgb(221, 221, 221);
}

.user-details img {
    border-radius: 50%;
    width: 30%;
    height: auto;
    font-size: 10pt;
    margin-bottom: 20px;
}

.user-details i {
    margin: 0 20px;
}

.user-details {
    background-color: rgb(221, 221, 221);
    padding: 20px 20px;
    height: 100%;
    margin-bottom: 10px;
    border: 1px solid black;
    text-align: center;
}

/** Blog **/

.admin-blog {
    background-color: lightgrey;
}

.card-details {
    background-color: rgb(231, 227, 227);
    padding: 20px 20px;
    height: 100%;
    border: 1px solid black;
    text-align: center;
}

.card-details i {
    margin: 20px 20px;
}

.card-details p {
    font-size: 8pt;
}

.card-details img {
    display: block;
    margin: 0 auto;
    width: 65%;
}

.card-details h4 {
    font-size: 90%;
}

.card-details h5 {
    font-size: 60%;
    font-weight: 300;
}

.card-details img {
    width: 70%;
    height: auto;
    margin-bottom: 20px;
}

.btn-add {
    background-color: rgb(231, 227, 227);
    border: none;
    height: 100%;
    width: 100%;
    font-size: 25pt;
    color: black;
}

.btn-add:hover {
    color: grey;
}

/** Messages **/

.admin-messages {
    background-color: rgb(172, 172, 172);
}

.messages {
    background-color: lightgrey;
    border: 1px solid rgb(145, 145, 145);
    height: 20%;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

.messages img {
    position: relative;
    top: 20px;
    border-radius: 50%;
    width: 8%;
    height: auto;
    margin-left: 20%;
}

.messages button {
    background-color: lightgrey;
    margin: 0 5px;
}

/* 
 * FOOTER
 * ******************* */

footer {
    padding-top: 20px;
    background-color: rgb(41, 41, 41);
    color: white;
    height: auto;
    font-size: 10pt;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
}

footer p {
    font-size: 9pt;
}

.footer-us {
    margin-right: 90px;
}

.footer-us ul li {
    list-style: none;
}

.footer-us ul li a {
    margin-right: 30px;
}

.footer-us img {
    max-width: 35%;
    max-height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

.newsletter,
.footer-icons {
    margin-top: 20px;
    margin-left: 90px;
}

.footer-btn {
    display: inline-block;
    height: 25px;
    width: 60px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    padding: 4px;
    margin-top: 10px;
    font-size: small;
}

/** Icons **/

.footer-icons a {
    font-size: 20px;
    margin: 0 10px;
    color: white;
}

.footer-icons a:hover {
    color: lightgray;
}

.copyright {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    padding: 10px 0;
    text-align: center;
}

.copyright a {
    color: white;
}

@media screen and (max-width: 640px) {

    .footer-us,
    .footer-icons,
    .newsletter {
        margin-left: 0;
        margin-right: 0;
    }

    .login {
        margin-left: 0;
    }

    .user-details {
        margin-bottom: 0
    }

    .admin-bio {
        margin-left: 0;
    }
}