/* 
 * GENERAL
 * ******************* */

h1,
h2,
h3,
h4,
.navbar {

    font-family: 'Lato', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: -1px;
    word-spacing: 8px;
}

h2 {
    color: black;
    font-size: 250%;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
}

h2::after {
    display: block;
    height: 2px;
    background-color: rgb(162, 29, 29);
    width: 100px;
    content: "  ";
    margin: 0 auto;
    margin-top: 10px;
}

h3 {
    font-size: 160%;
}

p,
label,
cite,
blockquote {
    font-size: 10pt;
    font-weight: 300;
    line-height: 24px;
}

h5 {
    font-family: 'Dancing Script', 'Arial', sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    word-spacing: 8px;
    text-align: end;
}

section {
    padding: 30px 0 60px 0;
}

.btn-nav-log {
    display: flex;
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 10pt;
    color: black;
    height: 25px;
    border-radius: 0;
    align-items: center;
    margin-bottom: 10px;
}

/* 
    * NAVBAR
    * ******************* */

.navbar-nav {
    font-family: 'Spartan', 'Arial', sans-serif;
    font-weight: 400;
}

.btn-submit {
    border: 1px solid black;
    background-color: lightgrey;
    font-size: 10pt;
    color: black;
}

/* 
 * CONTACT
 * ******************* */

.contact-us {
    background-color: rgb(220, 220, 220);
    text-align: center;
}

.contact-us-img {
    max-width: 80%;
    min-height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid grey;
}


.hogsmeade {
    background-color: lightgrey;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

/** Formulaire **/


.form h2,
p {
    margin-top: 0;
}

.contact-form {
    margin-bottom: 20px;
}

.contact-message {
    width: 100%;
}

.contact {
    text-align: center;
}

.contact i {
    color: rgb(187, 52, 52);
    margin-right: 5px;
}

/** Map **/

.map {
    height: 0;
    overflow: hidden;
    border: 1px solid grey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.map iframe {
    width: 100%;
    height: 100%;
}

.access {
    background-color: lightgrey;
}

.access i {
    color: rgb(181, 29, 29);
}

.transports {
    background-color: lightgrey;
    border: 1px solid grey;
    width: 50%;
    padding: 80px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 
 * FOOTER
 * ******************* */

footer {
    padding-top: 20px;
    background-color: rgb(41, 41, 41);
    color: white;
    height: auto;
    font-size: 10pt;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 400;
}

footer p {
    font-size: 9pt;
}

.footer-us {
    margin-right: 90px;
}

.footer-us ul li {
    list-style: none;
}

.footer-us ul li a {
    margin-right: 30px;
}

.footer-us img {
    max-width: 35%;
    max-height: auto;
    margin: 20px 0;
    border-radius: 10px;
}

.newsletter,
.footer-icons {
    margin-top: 20px;
    margin-left: 90px;
}

.footer-btn {
    display: inline-block;
    height: 25px;
    width: 60px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    padding: 4px;
    margin-top: 10px;
    font-size: small;
}

/** Icons **/

.footer-icons a,
.footer-icons i {
    font-size: 20px;
    margin: 0 10px;
    color: white;
}

.footer-icons i:hover {
    color: lightgray;
}

.copyright {
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

.copyright a {
    color: white;
}

@media screen and (max-width: 640px) {

    .contact-us-img {
        margin-left: 0;
        margin-right: 0;
    }

    .transports {
        margin-top: 30px;
        width: 100%;
        height: auto;
    }

    /** Footer **/

    .footer-us,
    .footer-icons,
    .newsletter {
        margin-left: 0;
        margin-right: 0;
    }

    .login {
        margin-left: 0;
    }

    .contact-us img {
        max-width: 100%;
        max-height: auto;
    }

    .hogsmeade {
        margin-top: 20px;
        padding: 20px;
    }
}